	h1 {
		font-family: Impact;
    font-size: 75;
    text-decoration: underline;
    text-align: center;
    color: rgb(255, 0, 0)
	}
  
  h2 {
    font-family: Impact;
  	color: rgb(150, 0, 0);
    font-size: 22;
	}
  
  h4 {
    page-break-after: always;
  }  
  
	a {
    color: rgb(255, 0, 0);
		font-size: 35px;
		font-weight: bold
	}
			
	li {
		font-size: 25px;
		font-weight: bold
	}
	  
	hr {
		border: 10px rgb(0, 0, 0) solid;
		background-color: rgb(255, 255, 255);
		padding: 4px;
	}  
