body {
  background-color:rgb(95, 95, 95);
}

h1 {
  font-family: Arial Black;
  font-size: 70;
  text-decoration: underline;
  text-align: center;
  color: rgb(255, 255, 255)
}
  
h2 {
  font-family: Arial Black;
	color: rgb(255, 255, 255);
	font-size: 40;
	text-align: center;
}
h3 {
  font-family: Arial Black;
 	color: rgba(221, 221, 221, .75);
  font-size: 22;
}
  
a {
	font-family: Arial Black;
	color: rgb(255, 0, 0);
	font-size: 35px;
	font-weight: bold
}
			
li {
	font-size: 25px;
	font-weight: bold
}
	  
hr {
	border: 10px rgba(100, 100, 100, 0) solid;
	background-color: rgb(255, 72, 0);
	padding: 4px;
}

.page-break {height: 20vh}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

/* Style the header */
.header {
	padding: 0px 10px;
	background: rgb(0, 0, 95);
	color: #f1f1f1;
  }
  
  /* Page content */
  .content {
	padding: 10px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: fit-content;
	margin-left: 0px;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 25px;
  }
